/*======================================================================
Only defined colors we used in redesigning u02.
=======================================================================*/

/*
   Brown 
=======================================================================*/

$Background_nav: #4F413E;

  /*
   Gold/ Yellow
=======================================================================*/
  $crown_color: #F5C854;
  $Turmeric_color:#AE9041;

  /*
   White
=======================================================================*/
  $white_color:#FFF;

  /*
   Black
=======================================================================*/
  $Black_color:#000;

