
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import './medlemslista/medlemlista';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    height: 100%;
} */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 100;
    align-items: center;
    background-color: #4F413E;
    padding: 10px;
    position: fixed;
    width: 100%;

    img {
        height: 110px;
        cursor: pointer;
    }

    .list {
        list-style: none;
        display: flex;
        align-items: center;
    }



    div a {
        margin-right: 50px;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Istok Web', sans-serif;
        cursor: pointer;
        transition: 0.3s ease;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #AE9041;
    }

}

#toggler,
label {
    display: none;
}

label i {
    color: white;
}

footer {
    background-color: #726765;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 10px;

    img {
        margin-bottom: 100px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        color: white;

    }

    li {
        margin-right: 50px;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Istok Web', sans-serif;
        cursor: pointer;
        transition: 0.3s ease;
        color: white;
        text-decoration: none;

        &:hover {
            color: #AE9041;
        }
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    .shortcut {
        color: white;
        cursor: pointer;
        transition: 0.3s ease;
        margin-left: 20px;

        &:hover {
            color: #AE9041;
        }
    }
}



@media only screen and (max-width: 400px) {
    nav {
        width: 390px;
        padding: 0;

        a {
            img {
                height: 70px;
            }
        }
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    label {
        display: inline-flex;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 25px;
        background-color: #726765;
    }

    footer {
        flex-direction: column;

        img {
            display: none;
        }

        ul {
            width: 100%;
            flex-direction: column;
            margin-top: 20px;
        }

        li {
            font-size: 20px;
            margin-right: 10px;
            padding: 5px;

        }
    }

}