@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    height: 100%;
} */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4F413E;
    padding-bottom: 10px;
    padding-top: 10px;

}

img {
    height: 110px;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
}

li {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Istok Web', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

li:hover {
    color: #AE9041;
}

.discover {
    background: url(assets/discover\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 873px;
    display: flex;
    align-items: end;

    section {
        margin-left: 200px;
        margin-bottom: 25px;

        .discover-arrow {
            margin-left: 400px;
            color: white;
            cursor: pointer;
        }

        h2 {
            font-size: 96px;
            font-family: 'Italianno', cursive;
            color: white;
            text-shadow: 2px 2px rgb(65, 65, 65);
            letter-spacing: 1.92px;
            margin-left: 20px;
        }

        h3 {
            font-size: 96px;
            font-family: 'Inria Serif', serif;
            color: white;
            text-shadow: 2px 2px rgb(65, 65, 65);
            -webkit-text-stroke: 1px black;
        }
    }
}