@import '/main.scss';

$color_2: #AE9041;

/*========================== kontakt scss starts here ==============*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
min-height: 100vh;
}

.banner {
  .ban_img  { 
       
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("../assets/kontakt_banner.jpeg");
        margin-top: -25px;
        height: 740px;
        padding: 2px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:inherit;
              }
  .banner_text {
        color: $color_1;                                               /*color_1 - white -*/ 
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: $font-family_1;
        font-size: 46px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.banner_text1 {
        color: $color_2;                                               /* $color_2: - #AE9041*/
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: $font-family_2;
        font-size: 66px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
}
}
/*  banner ends here.  */
/* Contact form styles starts */
.contact-form {
  padding: 30px 0;                                           /* changed from 40px to 60px*/
  margin: 0 10px;
    }
.form-container {
max-width: 60%;
margin: 0 auto;
padding: 20px;
background-color: $background-color_1;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}
.Question {
color: $color_3;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: $font-family_1;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.5px;
}
.contact_us {
color: $color_4;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: $font-family_2;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.phone_n {
color: $color_5;
font-family: $font-family_2;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.contact-form {
   h2 {
  text-align: center;
  margin-bottom: 20px;
    }
}
.form-group {
margin-bottom: 20px;
}
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: 1rem;
resize: vertical;
}
.submit-button {
padding: 10px 20px;
background-color: $background-color_2;
border: none;
color: $color_6;
border-radius: 4px;
font-size: 1rem;
cursor: pointer;
&:hover {
  color: $color_3;
}
}
/* Contact form styles ends */
/* Frame banner starts*/
.frame_fr {
background-image: linear-gradient(rgba(197, 197, 197, 0.5), rgba(197,197,197,0.5)), url("../assets/kontakt_frame.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
max-height: 8rem;
overflow: hidden;
opacity: 0.3;
}
/* Frame banner ends*/
/* Contact info styles starts*/	
.contact-info {
text-align: center;
padding: 110px 0;
background-color: #b3a09c;
overflow: hidden;
    h2 {
  color: $color_5;
  font-family: $font-family_2;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
    }
}
.visit {
margin-top: -50px;  
color: $color_3;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: $font-family_1;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.5px;
}
.our_location {
color: $color_7;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: $font-family_2;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.right_s {
float: right;
margin-right: 20%;
}
.left_s {
float: left;
margin-left: 20%;
}
.h_line {
padding: 1px;
display: block;
width: 100%;
margin-left: 0;
margin-right: auto;
color: $color_8;
}
/* Contact info styles end*/
// for small device Iphone-12 pro
@media screen and (max-width: 400px) {
  .banner {
    .ban_img  { 
      margin-top: 75px;
      height: auto;
    }
    .banner_text { 
      letter-spacing: 1px;
      font-size: 16px;
      top: 45%;
      left: 35%;
      transform: translate(-25%, -25%);
    }
    .banner_text1 { 
      letter-spacing: 1px;
      font-size: 23px;
      top: 55%;
      left: 35%;
      transform: translate(-25%, -25%);
    } 
  }
  .contact-form {
    padding: 40px 0;          
      }
  .form-container {
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    }
  .Question { 
    font-size: 27px;
    letter-spacing: 1px;
   }
  .contact_us { 
    font-size: 22px;
  }
  .phone_n { 
    font-size: 16px;
   }
   .frame_fr {
    max-height: 5rem;
    }
  .visit { 
    font-size: 28px;
    letter-spacing: 1px;
  }
  .our_location { 
    font-size: 22px;
    letter-spacing: 1px;
   }
  .contact-info {
    h2 { 
      font-size: 20px;
      letter-spacing: 1px;
    } 
  }
  .right_s {
    margin-right: 26%;
    margin-top: 15px;
    display: block;
  }
  .left_s {
    margin-left: 30%;
    display: block;
    margin-top: 20px;
  }
}

/*========================== kontakt scss ends here ==============*/
