/* start of nyheter */
.newsHeader {
    display: flex;
    flex-direction: column;

    /*   img {
        width: 49.89%;
        height: 870px;
        margin: 0 !important;
    } */
    .newsImages {
        font-size: 0;

        img {
            flex: 1;
            max-width: 50%;

        }
    }

    .headerText {
        position: absolute;
        z-index: 1;
        top: 1100px;
        left: 700px;

        h2 {
            color: #AE9041;
            font-size: 96px;
            font-family: Italianno;
            text-shadow: 2px 2px rgb(36, 35, 35);
            letter-spacing: 5.76px;
            padding-left: 100px;
            margin-bottom: -25px;
            line-height: 1;
        }

        h3 {
            color: white;
            font-size: 96px;
            font-family: Inria Serif;
            font-weight: 700;
            text-shadow: 2px 2px rgb(36, 35, 35);

        }
    }
}

.news-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .first-news {
        border-top: 1px solid rgba(148, 148, 148, 0.5);
    }

    .news {
        padding-top: 30px;
        display: flex;
        margin-bottom: 60px;

        .card {
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 30px;
            padding: 4px 4px 30px 4px;
            box-shadow: 3px 3px 5px 3px rgba(148, 148, 148, 0.5), -2px 0 2px rgba(148, 148, 148, 0.5);

            img {
                height: 227px;
                width: 280px;
                margin-bottom: 20px;
            }

            h4 {
                color: rgba(78.63, 65.19, 62.24, 0.80);
                font-size: 25px;
                font-family: Inria Serif;
                font-weight: 700;
            }
        }

        .news-text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 500px;
            border-bottom: 1px solid rgba(148, 148, 148, 0.5);
            margin-bottom: 30px;
            padding-bottom: 10px;


            padding: 30px 44px;

            h3 {
                text-align: center;
                font-size: 20px;
                margin-bottom: 10px;
                color: rgba(78.63, 65.19, 62.24, 0.80);
                font-family: Inria Serif;
                font-weight: 700;

            }

            p {
                width: 333px;
            }


            a {
                text-align: end;
                text-decoration: none;
                color: inherit;
                transition: 0.3s ease;

                &:hover {
                    opacity: .7;
                }

            }
        }
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-color: #8E8282;
    }

    .news {
        display: flex;
        flex-direction: column;
    }

    .newsHeader {
        .newsImages {
            img {
                width: 195px;
                height: 500px;
            }
        }

        .headerText {
            left: 55px;
            top: 440px;


            h2 {
                font-size: 30px;
                margin-bottom: 0;
                padding-left: 70px;
                color: white;

            }

            h3 {
                font-size: 20px;
            }
        }
    }

    .news-wrapper {
        .news {
            max-width: 390px;

            .card {
                margin-right: 50px;
                margin-left: 50px;
                box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.19);

                h4 {
                    color: rgb(35 35 35 / 80%);

                }
            }

            .news-text {
                p {
                    max-width: 290px;
                    text-align: center;
                }

                h3 {
                    color: rgb(35 35 35 / 80%);

                }
            }
        }
    }


}

/* end of nyheter */