/*----------Start of Smullbox--------- */
.smullbox-body {
  overflow-x: hidden;
  text-align: center;
}

.mobile-container {
  display: none;
}

.header-img {
  background-image: url(/smullbox/bilder/headerimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  color: #fff;
  text-shadow: 3px 7px #232121;

  div {
    margin: auto;
    margin-bottom: 10px;

    p {
      font-family: Italianno;
      font-size: 5vw;
      margin-bottom: -20px;
    }

    h1 {
      font-family: "Inria Serif", serif;
      font-size: 7vw;
    }
  }
}

.smullbox-content {
  margin-top: 3.5vw;
  margin-bottom: 5vw;
  font-size: 2.2vw;
  color: #545351;

  h2,
  h3 {
    margin: 20px;
  }

  hr {
    width: 75%;
    margin: auto;
    background-color: #4f413e;
  }

  .smullbox2 {
    width: 8%;
    margin: auto;
  }


  .smullbox-img-content1 div, .smullbox-img-content2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin: 20px 65px 20px 65px;


    img {
        width: 23%;
        filter: brightness(85%);
        z-index: 1;
        transition: 3s;
      }

    img:hover {
        transform: scale(2.59, 1.4);
        box-shadow: 20px 30px 16px #3737369b;
        filter: brightness(1);
        z-index: 10;

      }
    
  }

}

/*------- Mobile responsive --------*/
@media screen and (max-width: 390px) {
  .header-img {
    div {
      padding-bottom: 5vh;

      p {
        font-size: 40px;
      }
      h1 {
        font-size: 40px;
      }
    }
  }

  .smullbox-img-content2,
  .smullbox-img-content1 {
    display: none;
  }

  .mobile-container {
    display: block;

    h2 {
      margin: 10px;
      color: #ffffff;
      font-size: 8vw;
    }

    hr {
      border-color: #ffffff;
    }

    div img {
      width: 80%;
      margin: 10px;
      box-shadow: 20px 10px 6px rgb(62, 59, 56, 0.2196078431);
      filter: brightness(1);
    }
    
  }
}
/*----------End of Smullbox--------- */
