// Start of Smullbox
.smullbox-body{
    overflow-x: hidden;
    text-align: center;

    h2{
        font-size: 3vw;
    }
    h3{
        font-size: 3vw;
    }
}

.mobile-container{
    display: none;
}

.header-img{
    p{
        margin-bottom: auto;
    }

    div {
        margin: auto;
        padding: auto;
        margin-top: 425px;
        text-align: center;
        p{
            color: #FFF;
        font-family: Italianno;
        font-size: 5vw;
        font-style: normal;
        font-weight: 400;
        }
        
        h1{
            color: #FFF;
        font-family: Inria Serif;
        font-size: 9vw;
        font-style: normal;
        font-weight: 700;
        }
    }

    background-image: url(/smullbox/bilder/headerimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
}

.smullbox-content{
    margin-top: 5vw;
    margin-bottom: 5vw;
h2{
    margin: 10px;
    color: #4f413ebf;
}

h3{
    margin: 10px;
    color: #4f413ebf;
}
    hr{
        width: 75%;
        margin: auto;
        background-color: #4F413E;

    }

    .smullbox2{
        width: 8%;
        margin: auto;
    }

  .smullbox-img-content1 div{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .smullbox-img-content2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

 img:hover{
    box-shadow: #0a0908;
    transform: scale(1.2);
    box-shadow: 20px 30px 16px #3e3b38;  
    filter: brightness(1);
    object-fit: cover;
    z-index: 2;
   }

   img{
    width: 25%;
    height: 45%;
    transition: opacity .3s;
    filter: brightness(85%);
    z-index: 1;

}
}

@media screen and (max-width: 390px) {


    .smullbox-img-content2, .smullbox-img-content1 {
       display: none;
    }

    .mobile-container{
        display: block;

        h2 {
            margin: 10px;
            color: #4f413e;
            font-size: 8vw;
        }

        hr{
            border-color: #f6f1ef;
        }

        div img{
            width: 80%;
            margin: 10px;
            box-shadow: 20px 10px 6px #3e3b3838; 
            filter: brightness(1); 
        }

        img:hover{
            transform: scale(1);
            box-shadow: 20px 10px 6px #3e3b3838; 
        }
    }

}
// End of Smullbox