/*----------Start of Smullbox--------- */
.smullbox-body {
  overflow-x: hidden;
  text-align: center;
}

.mobile-container {
  display: none;
}

.header-img {
  background-image: url(/smullbox/bilder/headerimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;

  div {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;

    p {
      color: #fff;
      font-family: Italianno;
      font-size: 5vw;
      text-shadow: 2px 2px #2a2929;
      margin-bottom: -20px;
    }

    h1 {
      color: #fff;
      font-family: "Inria Serif", serif;
      font-size: 9vw;
      text-shadow: 2px 2px #232121;
    }
  }
}

.smullbox-content {
  margin-top: 3.5vw;
  margin-bottom: 5vw;
  font-size: 3vw;
  color: #4f413ebf;
  
  h2, h3 {
    margin: 20px;
  }

  hr {
    width: 75%;
    margin: auto;
    background-color: #4f413e;
  }

  .smullbox2 {
    width: 8%;
    margin: auto;
  }

  .smullbox-img-content1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .smullbox-img-content2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img:hover {
    transform: scale(1.2);
    box-shadow: 20px 30px 16px #3e3b38;
    filter: brightness(1);
    object-fit: cover;
    z-index: 2;
  }

  div {
    img {
      width: 25%;
      filter: brightness(85%);
      z-index: 1;
      transition: transform 3s ease;
    }
  }
}

/*------- Mobile responsive --------*/
@media screen and (max-width: 390px) {
  .header-img {
    div {
      padding-bottom: 5vh;

      p {
        font-size: 40px;
      }
      h1 {
        font-size: 40px;
      }
    }
  }

  .smullbox-img-content2,
  .smullbox-img-content1 {
    display: none;
  }

  .mobile-container {
    display: block;

    h2 {
      margin: 10px;
      color: #ffffff;
      font-size: 8vw;
    }

    hr {
      border-color: #ffffff;
    }

    div img {
      width: 80%;
      margin: 10px;
      box-shadow: 20px 10px 6px rgb(62, 59, 56, 0.2196078431);
      filter: brightness(1);
    }
  }
}
/*----------End of Smullbox--------- */
